@model SsoClient.ViewModels.UserViewModel

@{
    ViewBag.Title = "Relying Party1 > User";
}
<div>
    <h1>Welcome to Relying Party 1</h1>
    @if (Request.IsAuthenticated)
    {
        <p>
            Hello, @ViewBag.Name you are currently authenticated. Below are your STS claims plus your domain specific claims for RP1.
        </p>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Claim type</th>
                    <th>Claim value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in Model.Claims)
                {
                    <tr>

                        <td>@claim.Type</td>
                        <td>@claim.Value</td>

                    </tr>
                }
            </tbody>
        </table>
        @*<p>
            <a href="@(InfrastructureConstants.Rp2Url + "user/get")">Goto Relying Party 2 (via the STS to track your movements)</a>
        </p>*@
        <p>
            <a href="@Url.Action("Get","SignOut")">Federated SignOut (via the STS as it has been tracking your movements)</a>
        </p>
    }
    else
    {
        <p> Hello,my authentication system doesnt work properly, go ahead and break in...</p>
    }
</div>